{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center p-2">Users</h1>
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
           {% if users %}
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Select User
              </button>
              <ul class="dropdown-menu">
                  {% for user in users %}
                  <li><a class="dropdown-item" href="{{ url_for('list_movies', user_id=user.id)}}">{{user.name}}</a></li>
                  {% endfor %}
              </ul>
            </div>
            {% endif %}
            <form action="{{ url_for('create_user') }}" method="post">
                <div class="input-group">
                      <input type="text" class="form-control" name="username" id="username" placeholder="New Username" aria-label="New Username" aria-describedby="basic-addon2" required>
                      <div class="input-group-append">
                        <input class="btn btn-primary" type="submit" value="Create User">
                      </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}