{% extends "base.html" %}

{% block title %}
Movies
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center p-2">Movies</h1>
    <form action="{{ url_for('add_movie', user_id=user_id) }}" method="post">
        <div class="input-group">
              <input type="text" class="form-control" name="name" id="name" placeholder="New Movie" aria-label="New Movie" aria-describedby="basic-addon2" required>
              <div class="input-group-append">
                <input class="btn btn-primary" type="submit" value="Add Movie">
              </div>
        </div>
    </form>
    <div class="container my-3">
        <div class="row">
            {% for movie in movies %}
              <div class="col-sm-6 col-md-4 g-2">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ movie.poster_url }}" height="300" alt="{{movie.name}}">
                      <div class="card-body">
                        <form action="{{ url_for('update_movie', user_id=user_id, movie_id=movie.id) }}" method="post">
                          <input type="text" class="form-control" name="title" id="title" placeholder="{{movie.name}}" aria-label="{{movie.name}}" aria-describedby="basic-addon2" required>
                          <input class="btn btn-warning w-100" type="submit" value="✍️ Edit Name">
                      </form>
                        <p class="card-text">{{ movie.director }}</p>
                        <small class="text-muted">{{movie.year}}</small>
                              <div class="row g-3 justify-content-between">
                                  <form action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie.id) }}" method="post">
                                    <input class="btn btn-danger w-100" type="submit" value="Delete">
                                  </form>
                              </div>
                      </div>
                </div>
              </div>
            {% endfor %}
            {% if not movies %}
            <h3 class="text-center p-2 alert alert-info">Add a movie and it will be shown here!</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}